<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/beans">


	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
	<property name="prefix">
	<value>WEB-INF/jsp/</value>
	</property>
	<property name="suffix">
	<value>.jsp</value>
	</property>
	</bean>
	
	<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
	<property name="driverClassName">
	<value>oracle.jdbc.driver.OracleDriver</value>
	</property>
	<property name="url">
	<value>jdbc:oracle:thin:@localhost:1521:xe</value>
	</property>
	<property name="username" value="javaapi"/>
	<property name="password" value="javaapi"/>
	</bean>
	
	<bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
	<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean class="board.dao.BoardDataBean" id="boardDAO">
	<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean class="member.dao.MemberDAOImpl" id="memberDAO">
	<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean class="login.dao.LoginDAOImpl" id="loginOkBean">
	<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean class="board.ListBoardController" name="/list_board.do">
	<property name="boardDAO" ref="boardDAO"/>
	</bean>
	
	<bean class="board.WriteFormBoardController" name="/writeForm_board.do"> </bean>
	
	<bean class="board.WriteProBoardController" name="/writePro_board.do">
	<property name="boardDAO" ref="boardDAO"/>
	<property name="commandClass" value="board.dto.BoardDBBean"/>
	<property name="commandName" value="boardCmd"/>
	</bean>
	
	<bean class="board.ContentBoardController" name="/content_board.do">
	<property name="boardDAO" ref="boardDAO"/>
	</bean>
	
	<bean class="board.DeleteFormBoardController" name="/deleteForm_board.do"> </bean>
	
	<bean class="board.DeleteProBoardController" name="/deletePro_board.do">
	<property name="boardDAO" ref="boardDAO"/>
	</bean>
	
	<bean class="board.UpdateFormBoardController" name="/updateForm_board.do">
	<property name="boardDAO" ref="boardDAO"/>
	</bean>
	
	<bean class="board.UpdateProBoardAbstractCommandController" name="/updatePro_board.do">
	<property name="boardDAO" ref="boardDAO"/>
	<property name="commandClass" value="board.dto.BoardDBBean"/>
	<property name="commandName" value="boardCmd"/>
	</bean>
	
	<bean class="member.IndexMemberController" name="/member.do"> </bean>
	
	<bean class="member.MemberSsnController" name="/memberSsn.do"> </bean>
	
	<bean class="member.CheckMemberController" name="/checkMember.do">
	<property name="memberDAO" ref="memberDAO"/>
	</bean>
	
	<bean class="member.InsertMemberController" name="/insertMember.do"/>
	
	<bean class="member.InsertMemberOkController" name="/insertMemberOk.do">
	<property name="commandClass" value="member.dto.MemberDTO"/>
	<property name="commandName" value="memberCmd"/>
	<property name="memberDAO" ref="memberDAO"/>
	</bean>
	
	<bean class="member.MemberAllController" name="/memberAll.do">
	<property name="memberDAO" ref="memberDAO"/>
	</bean>
	
	<bean class="member.DeleteMemberController" name="/deleteMember.do">
	<property name="memberDAO" ref="memberDAO"/>
	</bean>
	
	<bean class="member.EditMemberController" name="/editMember.do">
	<property name="memberDAO" ref="memberDAO"/>
	</bean>
	
	<bean class="member.EditMemberOkAbstractCommandController" name="/editMemberOk.do">
	<property name="commandClass" value="member.dto.MemberDTO"/>
	<property name="commandName" value="memberCmd"/>
	<property name="memberDAO" ref="memberDAO"/>
	</bean>
	
	<bean name="/login.do" class="login.LoginController"></bean>
	
	<bean name="/login_ok" class="login.LoginOkAbstractCommandController">
	<property name="commandClass" value="member.dto.MemberDTO"/>
	<property name="commandName" value="memberCmd"/>
	<property name="loginOkBean" ref="loginOkBean"/>
	</bean>

	<bean name="searchLogin.do" class="login.SearchLoginController">
	</bean>
	
	<bean name="searchCheckLogin.do" class="login.SearchCheckLoginController">
	<property name="memberDAO" ref="memberDAO"/>
	</bean>
	
	<bean class="IndexController" name="/main.do"> </bean>
</beans>