<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 	
<mapper namespace="com.ezen.maven.MemberMapper">
	<select id="membercheck" resultType="MemberDTO" parameterType="java.util.Map">
		select * from jspmember where ssn1 = #{ssn1} and ssn2 = #{ssn2}
	</select>
	

</mapper>